{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=e:\\MyDatabase.sqlite;Version=3;Version=3;",
            "ProviderName": "System.Data.SQLite",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SereneXamarin\\SereneXamarin.Web\\SereneXamarin.Web.csproj",
    "RootNamespace": "SereneXamarin",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}