@model SereneXamarin.Mobile.Models.Model1
<html>
<head>
    <link href="~/assets/styles/aristo.css" rel="stylesheet" />
    <link href="~/assets/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/styles/font-open-sans.css" rel="stylesheet" />
    <link href="~/assets/styles/ionicons.css" rel="stylesheet" />
    <link href="~/assets/styles/jquery.colorbox.css" rel="stylesheet" />
    <link href="~/assets/styles/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/assets/styles/pace.css" rel="stylesheet" />
    <link href="~/assets/styles/select2.css" rel="stylesheet" />
    <link href="~/assets/styles/serenity.css" rel="stylesheet" />
    <link href="~/assets/styles/simple-line-icons.css" rel="stylesheet" />
    <link href="~/assets/styles/site.css" rel="stylesheet" />
    <link href="~/assets/styles/slick.grid.css" rel="stylesheet" />
    <link href="~/assets/styles/style.css" rel="stylesheet" />
    <link href="~/assets/styles/toastr.css" rel="stylesheet" />

    <script src="~/assets/scripts/bundle.libs.js"></script>
    <script src="~/assets/scripts/bundle.site.js"></script>
    <script src="~/assets/scripts/columnsbundle.js"></script>
    <script src="~/assets/scripts/formbundle.js"></script>
    <script src="~/assets/scripts/jquery.maskedinput.js"></script>
    <script src="~/assets/scripts/localtext.site.en-us.public.js"></script>
    <script src="~/assets/scripts/registeredscripts.js"></script>
    <script src="~/assets/scripts/templatebundle.js"></script>
    <script type="text/javascript">

        // This javascript method calls C# by setting the browser
        // to a URL with a custom scheme that is registered in C#.
        // All values are sent to C# as part of the querystring
        function InvokeCSharpWithFormValues(elm) {
            var qs = "";
            var elms = elm.form.elements;

            for (var i = 0; i < elms.length; i++) {
                qs += "&" + elms[i].name + "=" + elms[i].value;
            }

            if (elms.length > 0)
                qs = qs.substring(1);

            location.href = "hybrid:" + elm.name + "?" + qs;
        }

        // This javascript method is called from C#
        function SetLabelText(text) {
            var elm = document.getElementById('label');
            elm.innerHTML = text;
        }
    </script>
</head>
<body>
    <div data-role="page" data-theme="b">
        <form>

            <div data-role="content">

                <h1 id="label">@Model.Text</h1>

                <input type="text" id="textbox" name="textbox" />

                <input type="button" name="UpdateLabel" value="Click" onclick="InvokeCSharpWithFormValues(this)" />

            </div>

        </form>
    </div>
</body>
</html>	